@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 52vw;
    height: 55vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(2, 2, 71);
    border-radius: 8px;
    overflow: hidden;
}

.fundo-branco{
    height: 100%;
    width: 45%;
    background-color: white;
    display: flex;
    border: 5px solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fundo-branco img{
    width: 20vw;
    height: auto;
}

.fundo-branco label{
    font-weight: 500;
    color: rgb(2, 2, 71);
    font-size: 1.3rem;
}

.div-form{
    margin-left: 1.5%;
    max-width: 55%;
    text-align: center;
    margin-top: 2vh;
}

.div-form h1{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 5%;
}

form{
    margin-top: 5vh;
}

input:focus{
    box-shadow: 0 0 15px orange;
    outline: 1px solid orange;
}

.nome{
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
}

.preco-qtd{
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 39%;
    margin-top: 1rem;
}

.container-preco-qtd{
    display: flex;
    gap: 20px;
    margin: 0;
}

select{
    color: gray;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
}

select:focus{
    box-shadow: 0 0 15px orange;
    outline: 1px solid orange;
}

.url{
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
}

textarea {
    color: grey;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
    height: 8vh;
    resize: none;
}

textarea:focus{
    box-shadow: 0 0 15px #ea6a00;
    outline: 1px solid #ea6a00;
}

.container-btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 10%;
    margin-top: 1rem;
    justify-self: center;
    color: #ea6a00;
}

button.btn {
    justify-self: center;
    background-color: #ea6a00;
    color: white;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 12px;
    border: 0px;
    font-size: 1rem;
    transition: ease 0.3s;
    cursor: pointer;
}

button.btn:hover{
    background-color: #ea6900ce;
}