* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

main{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 52vw;
    height: 55vh;
    border: 3px solid orange;
    background-color: rgb(2, 2, 71);
    border-radius: 15px;
    overflow: hidden;
}

.fundo-branco{
    height: 100%;
    border: 0px solid;
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fundo-branco img{
    width: 20vw;
    height: auto;
}

.fundo-branco label{
    font-weight: 500;
    color: rgb(2, 2, 71);
    font-size: 1.3rem;
}

.div-form{
    margin-left: 1.5%;
    max-width: 55%;
    text-align: center;
    margin-top: 2vh;
}

.div-form h1{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 5%;
}

form{
    margin-top: 5vh;
}

input:focus{
    box-shadow: 0 0 15px orange;
    outline: 1px solid orange;
}

.nome{
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
}

.preco-qtd{
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 39.5%;
    margin-top: 1rem;
}

select{
    color: gray;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
}

select:focus{
    box-shadow: 0 0 15px orange;
    outline: 1px solid orange;
}

.url{
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
}

textarea {
    color: grey;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem;
    width: 80%;
    height: 8vh;
}

textarea:focus{
    box-shadow: 0 0 15px orange;
    outline: 1px solid orange;
}

.container-btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 10%;
    margin-top: 1rem;
    justify-self: center;
    color: orange;
}

button.btn {
    justify-self: center;
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 12px;
    border: 0px;
    font-size: 1rem;
    transition: ease 0.3s;
    cursor: pointer;
}

button.btn:hover{
    transform: scale(1.05);
}