* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
}

.titulo-dashboard{
    margin-left: 23%;
    margin-top: 4vh;
    display: flex;
    align-items: center;
}

.titulo-dashboard h1{
    font-size: 1.5rem;
    color: rgb(2, 2, 71);
}

.titulo-dashboard .laranja{
    color: orange;
}

.divisoria{
    color: black;
    border: 1px solid;
    width: 2vw;
}

.titulo-dashboard h2{
    color: #cccccc;
    font-size: 1.5rem;
}

.dashboard{
    margin-top: 5vh;
    min-height: 80vh;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8vh;
}

.container-card{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 17vw;
    background-color: rgb(2, 2, 71);
    border: 0;
    border-radius: 10px;
    padding: 20px;
    transition: ease 0.3s;
}

.card:hover{
    /* transform: translateY(-5%); */
    transform: scale(1.05);
}

.topo-card{
    display: flex;
    align-content: center;
}

.topo-card span{
    font-size: 1.3rem;
    color: orange;
    margin-left: auto; 
}

.card h1{
    color: white;
    font-size: 1rem;
}

.card h2{
    color: white;
    font-size: 2.2rem;
    margin-top: 3.5vh;
    text-align: center;
}

.card span{
    color: orange;
}

.grafico{
    gap: 1rem;
    display: flex;
    justify-content: left;
    width: 55%;
}

.card-grafico-barras{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    background-color: white;
    width: 75%;
    height: 50vh;
    border-radius: 10px;
    padding: 1.5rem;
    transition: ease 0.3s;
}

.card-grafico-barras h1{
    text-align: center;
    font-size: 1.4rem;
    color: black;
}

.grafico-barras{
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    margin-top: 1rem;
    margin-left: 2rem;
    height: 80%;
    width: 95%;
    border-radius: 10px;
}

.barras{
    margin-left: 5.5vw;
    display: inline-flex;
    width: 40px;
    background: linear-gradient(to top, #f59e0b, #fbbf24);
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
}

.barras:hover{
    opacity: 0.75;
}

.barras h1{
    position: relative;
    top: 3vh;
    font-size: 1rem;
    font-weight: normal;
}

.valores{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.valores span{
    text-align: center;
    margin-left: -3rem;
    margin-top: 3vh;
}

.card-grafico-linha{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    height: 50vh;
    width: 23%;
    border: 0px solid black;
    border-radius: 10px;
    background-color: rgb(2, 2, 71);
    padding: 1rem;
}

.card-grafico-linha h1{
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.grafico-linha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-linha label{
    color: white;
    margin-top: 5vh;
    margin-bottom: 0.5rem;
}

.grafico-linha .medidor{
    width: 100%;
    display: inline-flex;
    background: linear-gradient(to right, rgb(248, 162, 2), #00be39);
    align-self: flex-start;
    border-radius: 5px;
    height: 0.6rem;
}

.grafico-linha .gambiarra{
    display: flex;
    z-index: 1000;
    background: #a3a3a3;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 0.6rem;
    position: relative;
    top: -0.6rem;
}