* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic", sans-serif;
    background: rgb(245, 245, 245);
}

.topo {
    background-color: rgb(2, 2, 71);
    border-bottom: 2px solid orange;
}

.topo-menu {
    display: flex;
    justify-content: space-around;
    max-width: 180rem;
    margin: 0 auto;
}

.topo-esquerdo img {
    height: 10vh;
}

.topo-direito {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-right: 1rem;
}

.topo-direito a {
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
}

.topo-direito a:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.barra {
    border-top: 2px solid orange;
    text-align: center;
    background: rgb(2, 2, 71);
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo-footer {
    text-align: center;
    padding-bottom: 1rem;
}

.logo-footer {
    height: 11vh;
    margin-bottom: -45px;
}