.filtro{
    margin-top: 12vh;
    display: flex;
    list-style: none;
    margin-left: 20%;
    gap: 1.5rem;
}

.filtro a{
    text-decoration: none;
    font-weight: bold;
}

.nav-elementos{
    border-radius: 30px;
    width: 8vw;
    height: 3.5vh;
    background-color: white;
    border: 2px solid orange;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s;
}

.nav-elementos:hover{
    color: white;
    background-color: orange;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 12vh;
}

.card{
    height: 40vh;
    width: 15vw;
    border: 0;
    box-shadow: 0 0 10px black;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}

.imagem{
    max-height: 50%;
    height: 100%;
    text-align: center;
}

.card img{
    width: 12vw;
    height: auto;
    margin-top: 3vh;
}

.info{
    text-align: left;
    max-height: 60%;
    height: 100%;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

.info h1{
    padding-top: 5%;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5%;
}

.info h2{
    padding-top: 5%;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5%;
}

.info span{
    color: red;
}

.info a{
    text-decoration: none;
}

.detalhes-btn{
    font-weight: bold;
    justify-self: center;
    margin-top: 10%;
    font-size: 1rem;
    color: white;
    height: 3vh;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 2, 71);
    border-radius: 10px;
}